.reservation-card{
  background-color: white;
  border: 5px solid teal;
  margin: 1vw;
  border-radius: 5%;
  color: teal;
  padding: 2vw;
  width: 12.2vw;
}
h1{
  font-size: 1.2rem;
  font-weight: bold;
}
h2{
  font-size: 1rem;
  font-weight: normal;
}
.cancel{
  width: 90%;
  /* border: 3px solid white; */
  background-color: teal;
  color: white;
}
